name: Generate Main Charts

on:
  workflow_dispatch:
  repository_dispatch:
    types:
      - generate-main-chart  
  push:
    branches:
      - main
    paths-ignore:
      - "charts/**"

permissions: # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  setenv:
    uses: ortelius/workflow-toolkit/.github/workflows/env-config-workflow.yml@c5cde856c82a2be1549562f73d219136bd3db9bb
    with:
      gh_head_ref: ${{ github.head_ref }}
      gh_ref_name: ${{ github.ref_name }}
      gh_event_repo_name: ${{ github.event.repository.name }}
      gh_sha: ${{ github.sha }}
      gh_repo: ${{ github.repository }}
      gh_run_number: ${{ github.run_number }}

  helm:
    permissions:
      contents: write
    uses: ortelius/workflow-toolkit/.github/workflows/helm-release-workflow.yml@c5cde856c82a2be1549562f73d219136bd3db9bb
    needs: [setenv]
    with:
      dhurl: ${{ needs.setenv.outputs.dhurl }}
      gh_repository_owner: ${{ github.repository_owner }}
      gh_event_name: ${{ github.event_name }}
      gh_ref: ${{ github.ref }}
      gh_handle: ${{ needs.setenv.outputs.gh_handle }}
      chart: chart/ortelius
    secrets:
      GPG_KEYRING_BASE64: ${{ secrets.GPG_KEYRING_BASE64 }}
      GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
      GPG_KEY: ${{ secrets.GPG_KEY }}
      gh_token: ${{ secrets.HELM_INDEXER_TOKEN }}
      DHPASS: ${{ secrets.DHPASS }}
      DHUSER: ${{ secrets.DHUSER }}      
